################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockTickerStandard/obj/Debug
/StockTickerStandard/bin/Debug
/StockTickerStandard/bin/Debug
/StockTickerStandard/bin/Debug/StockTickerStandard.exe.config
